<%= form_for(@customer) do |f| %>

    <table>
      <tr>

        <td>Email</td>
        <td>
          <div class="field">

            <%= f.text_field :Email %>
          </div>
          <!--<div id="submit_email">-->
         <!--<input type="text" id="cemail"  name="custemail"  width="20px">-->
          <!--</div>-->
        </td>

      </tr>
      <tr><td></td><td></td></tr>
      <tr>
        <td></td>
        <td><%= submit_tag 'Purchase', :controller =>  "customers" , :action => "new"%>
        </td>
      </tr>

    </table>

<% end %>
